.children-image img{
    width: 960px;
    height: 640px;
}
.children-image {
    margin-left: 110px;
    width: 100%;
}
.children-container {
    color: #5c6a5b;
    line-height: 1.3;
}
.collection-children button {
    color: #5c6a5b;
}