.homeappliances-image img{
    width: 960px;
    height: 640px;
}
.homeappliances-image {
    margin-left: 110px;
    width: 100%;
}
.homeappliances-container {
    color: #9FA3A4;
    background-color: #fff;
    display: inline-block;
    height: 210px;
    padding: 20px;
}
.collection-homeapp button {
    color: #9FA3A4;
}