.login{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url("/new-arrivals/login_image.avif");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.login form {
    position: absolute;
    left: 16%;
    top: 16%;
    padding: 60px;
}
.login h2,h3 {
    color: #343434;
}
.login h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.login h4 {
    display: flex;
    justify-content: center;
    color: #f95959;
    margin-top:50px;
}
.login-email {
    margin-bottom: 12px;
}
.login-button button {  
    padding: 14px;
    background-color: #343434;
    color: #fafafa;
    border-radius: 11px;
    width: 150px;
    cursor: pointer;
    margin-left: 40px;
}
.login h3 {
    margin-bottom: 5px;
}
